{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    添加网页
{% endblock %}
{% block body_block %}
    {% if category %}
        <h1>添加网页</h1>
        <div>
            <form method="post" id="page_form" action="{% url 'rango:add_page' category.slug %}">
            <h2 class="form-signin-heading">
                添加网页至 - <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
            </h2>
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}<br>
                    {{ field }}<br>
                {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit" name="submit">添加网页</button>
            </form>
        </div>
    {% else %}
        <strong>没有相关分类</strong>
    {% endif %}
{% endblock %}
