{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    添加网页至 - {{ category.slug }}
{% endblock %}
{% block body_block %}
    {% if category %}
        <h1>添加网页至 - {{ category.slug }}</h1>
        <div>
            <form method="post" action="{% url 'rango:add_page' category.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="添加网页">
            </form>
        </div>
    {% else %}
        <strong>没有相关分类</strong>
    {% endif %}
{% endblock %}
