<ul class="nav nav-pills flex-column">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="nav-item">
                    <strong>
                        <a class="nav-link" href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                    </strong>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>现阶段没有分类</strong></li>
    {% endif %}
</ul>