{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    注册
{% endblock %}
{% block body_block %}
    <h1>注册</h1>
    {% if registered %}
        <strong>感谢您的注册</strong>
        <a href="{% url 'rango:index' %}">返回首页</a><br>
    {% else %}
        <strong>点击此处注册</strong>
        <form method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="注册">
        </form>
    {% endif %}
{% endblock %}
